@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Acompañandote en los mejores momentos</h1>
    <img />Imagen de la empresa
</div>

@*<div class="container">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="container">
                                <div class="row mb-5">
                                    <h1>VENTA</h1>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <p>Adquiere uno de nuestros trajes a la medida.</p>
                                </div>
                                <div class="row d-flex align-items-end">
                                    <button>Modelos disponibles</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 d-flex justify-content-center">
                            <img src="~/Images/Venta_Traje.jpg" class="img-fluid VentaRentaTrajes ImgFondo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="container">
                                <div class="row mb-5">
                                    <h1>RENTA</h1>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <p>Tenemos tu traje a la medida para ese evento especial que tanto estas esperando.</p>
                                </div>
                                <div class="row">
                                    <button>Modelos disponibles</button>
                                </div>
                            </div>

                        </div>
                        <div class="col-8 d-flex justify-content-center">
                            <img src="~/Images/Renta_Traje.png" class="img-fluid VentaRentaTrajes ImgFondo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3 text-center" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-5 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title">VENTA</h5>
                            <p class="card-text">Adquiere uno de nuestros trajes a la medida.</p>
                            <button>Modelos disponibles</button>
                        </div>
                    </div>
                    <div class="col-md-7 d-flex justify-content-center">
                        <img src="~/Images/Venta_Traje.jpg" class="img-fluid VentaRentaTrajes ImgFondo" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-3 text-center" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-7 d-flex justify-content-center">
                        <img src="~/Images/Renta_Traje.png" class="img-fluid VentaRentaTrajes ImgFondo" alt="...">
                    </div>
                    <div class="col-md-5 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title">RENTA</h5>
                            <p class="card-text">Tenemos tu traje a la medida para ese evento especial que tanto estas esperando.</p>
                            <button>Modelos disponibles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>